<div class="container" xmlns="http://www.w3.org/1999/html">
  <h2>Table Product</h2>
  <p></p>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCreate"
          routerLink="/product/create">
    Create
  </button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Price</th>
      <th>About</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let p of products; index as i">
      <td>{{i + 1}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.description}}</td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="showEdit(p.id)" data-toggle="modal"
                data-target="#myModalEdit">
          Edit
        </button>
      </td>
      <td>
        <button (click)="deleteProduct(p.id)" type="button" class="btn btn-secondary">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal" id="myModalEdit">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="productForm" (ngSubmit)="submitEdit()" class="row justify-content-md-center">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Product</h4>
          </div>

          <!-- Modal body -->
          <div class="col-md-6">
            <div class="form-control-row">
              <label for="example-email-input" class="col-md-4 col-form-label">ID:</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="example-email-input" formControlName="id">
              </div>
            </div>

            <div class="form-control-row">
              <label for="example-email-input" class="col-md-4 col-form-label">Name:</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="example-name-input" formControlName="name">
              </div>
            </div>


            <div class="form-control-row">
              <label for="example-email-input" class="col-md-4 col-form-label">Price:</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="example-price-input" formControlName="price">
              </div>
            </div>


            <div class="form-control-row">
              <label for="example-email-input" class="col-md-4 col-form-label">Description:</label>
              <div class="col-md-12">
                <input type="text" class="form-control" id="example-description-input" formControlName="description">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" [disabled]="productForm.invalid" (click)="submitEdit()" class="btn btn-success"
                      data-dismiss="modal">Edit
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
